---
- name: Preparations.
  ansible.builtin.include_tasks: preparations.yml

- name: Pre-ACL configuration.
  ansible.builtin.include_tasks: pre-acl-configuration.yml
  when: ansible_hostname in groups['vault_servers']

- name: PKI.
  ansible.builtin.include_tasks: pki.yml

- name: ACL.
  ansible.builtin.include_tasks: acl.yml
  when: ansible_hostname in groups['vault_servers']

- name: Post-ACL configuration.
  ansible.builtin.include_tasks: post-acl-configuration.yml
  when: ansible_hostname in groups['vault_servers']

- name: Unseal Vault.
  ansible.builtin.include_tasks: unseal.yml
  when: ansible_hostname in groups['vault_servers']
  tags: unseal

- name: Preparations for usage.
  ansible.builtin.include_tasks: prep-for-usage.yml
  when: ansible_hostname in groups['vault_servers']

- name: PKI Intermediate CA.
  ansible.builtin.include_tasks: pki_int.yml
  when: ansible_hostname in groups['vault_servers']
  tags: pki_int

- name: Logging.
  ansible.builtin.include_tasks: logging.yml
  when: ansible_hostname in groups['vault_servers']

- name: Unattended Upgrades
  include_tasks: unattended-upgrades.yml
  when:
    - ansible_os_family == 'Debian'
