---
- name: Check the Vault sealed status. #noqa: risky-shell-pipe
  ansible.builtin.shell: "{{ vault_binary }} status | grep -i sealed | awk '{print $2}'"
  environment:
    VAULT_ADDR: "{{ vault_address }}"
    VAULT_CACERT: "{{ vault_ssl_ca_dest }}"
    VAULT_SKIP_VERIFY: "true"
  changed_when: false
  register: vault_is_sealed
  tags: unseal

- name: Unseal
  when:
    - vault_is_sealed.stdout == "true"
  tags: unseal
  block:
    - name: Unseal - Retrieve local token file.
      ansible.builtin.set_fact:
        token_file_output: "{{ lookup('file', vault_bootstrap_init_local_path).split('\n') }}"
      delegate_to: localhost
      run_once: true

    - name: Unseal - Retrieve first unseal key from initialization info.
      ansible.builtin.set_fact:
        vault_unseal_key_1: "{{ token_file_output[0].split('Unseal Key 1: ')[1] }}"
      delegate_to: localhost
      run_once: true

    - name: Unseal - Retrieve second unseal key from initialization info.
      ansible.builtin.set_fact:
        vault_unseal_key_2: "{{ token_file_output[1].split('Unseal Key 2: ')[1] }}"
      delegate_to: localhost
      run_once: true

    - name: Unseal - Retrieve third unseal key from initialization info.
      ansible.builtin.set_fact:
        vault_unseal_key_3: "{{ token_file_output[2].split('Unseal Key 3: ')[1] }}"
      delegate_to: localhost
      run_once: true

    - name: Ensure the Vault is unsealed.
      ansible.builtin.command: "{{ vault_binary }} operator unseal {{ item }}"
      environment:
        VAULT_ADDR: "{{ vault_address }}"
        VAULT_CACERT: "{{ vault_ssl_ca_dest }}"
        VAULT_SKIP_VERIFY: "true"
      with_items:
        - "{{ vault_unseal_key_1 }}"
        - "{{ vault_unseal_key_2 }}"
        - "{{ vault_unseal_key_3 }}"
      no_log: true
      changed_when: false
