CONTROLLER_BIND_ADDRESS="{% for host in groups["traefikee_controllers"] %}{{ hostvars[host].ansible_default_ipv4.address }}:4242{% if not loop.last %}, {% endif %}{% endfor %}"
TRAEFIKEE_LICENSE="{{ traefikee_license_key }}"
PLUGIN_URL="{% for host in groups["traefikee_plugin_registry"] %}https://{{ hostvars[host].ansible_default_ipv4.address }}{% if not loop.last %}, {% endif %}{% endfor %}"
PLUGIN_TOKEN="{{ traefikee_plugin_token }}"
