CONTROLLER_PEERS="{% for host in groups["traefikee_controllers"] %}{{ hostvars[host].ansible_default_ipv4.address | to_json }}:4242{% if not loop.last %}, {% endif %}{% endfor %}"
PROXY_NODE_TOKEN="{{ traefikee_proxy_token }}"
