entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
      middlewares:
        - hsts@traefikee
      tls: {}
  ping:
    address: ":8082"

metrics:
  prometheus: {}

api:
  dashboard: true
  insecure: true

log:
  format: json
  filePath: "/var/log/traefikee/traefikee.log"
  level: DEBUG

accessLog:
  format: json
  filePath: "/var/log/traefikee/access.log"

ping:
  entryPoint: ping

providers:
  file:
    filename: traefikee_dynamic_config.yml
  consulCatalog:
    exposedByDefault: false
    endpoint:
      address: {{ consul_address }}
      scheme: https
      datacenter: {{ datacenter_name }}

certificatesResolvers:
  {{ traefikee_vault_resolver }}:
    vault:
      url: "{{ vault_consul_address }}"
      auth:
        token: "{{ traefikee_vault_token }}"
      enginePath: "{{ vault_pki_int_path }}"
	  role: "{{ vault_pki_int_role_name }}"
