ui            = true
disable_mlock = true

cluster_name = "InThePicture-Vault-Cluster"
cluster_addr = "https://{{ inventory_hostname }}:8201"
api_addr     = "https://{{ inventory_hostname }}:8200"

listener "tcp" {
  address            = "0.0.0.0:8200"
  tls_cert_file      = "{{ vault_ssl_cert_dest }}"
  tls_key_file       = "{{ vault_ssl_key_dest }}"
  tls_client_ca_file = "{{ vault_ssl_ca_dest }}"
}

storage "raft" {
  path    = "{{ vault_data_directory }}"
  node_id = "{{ inventory_hostname }}"

{% for host in groups["vault_servers"] %}
  retry_join { leader_api_addr = "https://{{ host }}.node.{{ consul_domain }}:8200" }
{% endfor %}
}

service_registration "consul" {
  # token         = "<VAULT_SERVICE_TOKEN_WILL_BE_FILLED_LATER>"
  scheme        = "https"
  address       = "127.0.0.1:8501"
{% if ansible_hostname in groups['vault_servers'] %}
{% set type = "server" %}
{% elif ansible_hostname in groups['vault_clients'] %}
{% set type = "client" %}
{% endif %}
  tls_ca_file   = "{{ consul_etc_directory }}/consul-agent-ca.pem"
  tls_cert_file = "{{ consul_etc_directory }}/{{ datacenter_name }}-{{ type }}-consul-0.pem"
  tls_key_file  = "{{ consul_etc_directory }}/{{ datacenter_name }}-{{ type }}-consul-0-key.pem"
}
