[Unit]
Description=Nomad
Documentation=https://www.nomadproject.io/docs
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-{{ nomad_etc_directory }}/nomad.env
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ nomad_binary }} agent -config {{ nomad_etc_directory }}
KillMode=process
KillSignal=SIGINT
LimitNOFILE=65536
LimitNPROC=infinity
Restart=on-failure
RestartSec=2

TasksMax=infinity
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
