server {
  enabled          = true
  bootstrap_expect = {{ groups['nomad_servers'] | length }}
  encrypt          = "{{ gossip_encryption_key.stdout }}"
}

client {
  enabled = false
}

acl {
  enabled = true
}
