---
- name: Find all vault-nomad-server- files.
  ansible.builtin.find:
    paths: "{{ role_path }}/files/"
    patterns: "vault-nomad-*"
    file_type: "file"
  delegate_to: localhost
  run_once: true
  register: vault_files

- name: Ensure vault-nomad-server- files are present.
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "{{ nomad_data_directory }}/{{ item.path | basename }}"
    mode: 0644
  with_items: "{{ vault_files.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
  when:
    - ansible_hostname in groups['nomad_servers']
  delegate_to: "{{ groups['nomad_servers'] | first }}"
  run_once: true

- name: Set fact of CA file - Debian.
  ansible.builtin.set_fact:
    vault_ca: "/usr/local/share/ca-certificates/{{ vault_ssl_ca_share_filename }}"
  when: ansible_os_family == 'Debian'

- name: Set fact of CA file - RedHat.
  ansible.builtin.set_fact:
    vault_ca: "/etc/pki/ca-trust/source/anchors/{{ vault_ssl_ca_share_filename }}"
  when: ansible_os_family == 'RedHat'

- name: Set fact of active Vault.
  ansible.builtin.set_fact:
    active_vault_address: "active.vault.service.{{ consul_domain }}"

- name: Enable integration.
  block:
    - name: Retrieve client token.
      ansible.builtin.uri:
        url: "{{ vault_address }}/v1/auth/userpass/login/{{ vault_admin_username }}"
        method: POST
        body_format: json
        body: '{ "password": "{{ admin_password }}" }'
        status_code:
          - 200
          - 204
        validate_certs: false
      register: vault_admin_login_response
    - name: Set fact of client token.
      ansible.builtin.set_fact:
        admin_token: "{{ vault_admin_login_response.json.auth.client_token }}"
    - name: Ensure nomad-server-policy is present.
      ansible.builtin.command: "{{ vault_binary }} policy write nomad-server vault-nomad-server-policy.hcl"
      args:
        chdir: "{{ nomad_data_directory }}"
      environment:
        VAULT_TOKEN: "{{ admin_token }}"
        VAULT_ADDR: "{{ active_vault_address }}"
        VAULT_CACERT: "{{ vault_ca }}"
        VAULT_SKIP_VERIFY: "true"
      changed_when: false
    - name: Ensure nomad-cluster-role is present.
      ansible.builtin.command: "{{ vault_binary }} write /auth/token/roles/nomad-cluster @vault-nomad-cluster-role.json"
      args:
        chdir: "{{ nomad_data_directory }}"
      environment:
        VAULT_TOKEN: "{{ admin_token }}"
        VAULT_ADDR: "{{ active_vault_address }}"
        VAULT_CACERT: "{{ vault_ca }}"
        VAULT_SKIP_VERIFY: "true"
      changed_when: false
    - name: Ensure nomad token is generated.
      ansible.builtin.shell: "{{ vault_binary }} token create -policy nomad-server -period 72h -orphan -format=json | jq -r .auth.client_token"
      args:
        chdir: "{{ nomad_data_directory }}"
      environment:
        VAULT_TOKEN: "{{ admin_token }}"
        VAULT_ADDR: "{{ active_vault_address }}"
        VAULT_CACERT: "{{ vault_ca }}"
        VAULT_SKIP_VERIFY: "true"
      changed_when: false
      register: nomad_server_token_raw
  when:
    - ansible_hostname in groups['nomad_servers']
  delegate_to: "{{ groups['nomad_servers'] | first }}"
  run_once: true

- name: Set a fact of the nomad token.
  ansible.builtin.set_fact:
    nomad_server_vault_token: "{{ nomad_server_token_raw.stdout }}"

- name: Ensure vault integration is part of the Nomad config directory.
  ansible.builtin.template:
    src: vault-nomad-server.hcl.j2
    dest: "{{ nomad_etc_directory }}/vault.hcl"
    mode: 0644
  notify: Restart Nomad

- name: Find all vault-nomad-server- files.
  ansible.builtin.find:
    paths: "{{ nomad_data_directory }}/"
    patterns: "vault-nomad-*"
    file_type: "file"
  when: ansible_hostname in groups['nomad_servers']
  delegate_to: "{{ groups['nomad_servers'] | first }}"
  run_once: true
  register: vault_files

- name: Clean up files.
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  with_items: "{{ vault_files.files }}"
  loop_control:
    label: "{{ item.path | basename }}"
  when: ansible_hostname in groups['nomad_servers']
  delegate_to: "{{ groups['nomad_servers'] | first }}"
  run_once: true
