# DNS configuration
port=53

domain-needed
bogus-priv

strict-order
expand-hosts
domain={{ dnsmasq_domain }}
{% if ansible_hostname in groups['nomad_clients'] %}
listen-address=127.0.0.1
interface=lo
bind-interfaces
{% endif %}