{% if ansible_hostname in groups['nomad_clients'] %}
nameserver 127.0.0.1
{% else %}
nameserver {{ hostvars[ansible_host].ansible_default_ipv4.address }}
{% endif %}
{% for server in dnsmasq_default_domain_servers %}
nameserver {{ server }}
{% endfor %}

search {{ dnsmasq_search_dns_suffix_1 }} {{ dnsmasq_search_dns_suffix_2 }}
